<!DOCTYPE html>
<html>
<head>
    <title>Quiz Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .header {
            background-color: #1abc9c; /* Minty green color */
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .quiz-box {
            border: 2px solid #1abc9c; /* Minty green color */
            padding: 20px;
            margin: 20px;
            background-color: #fff;
            box-shadow: 3px 3px 5px #888888;
            border-radius: 5px;
        }

            .quiz-box h2 {
                font-size: 24px;
                color: #1abc9c; /* Minty green color */
            }

            .quiz-box p {
                font-size: 16px;
            }

        .quiz-button {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #1abc9c; /* Minty green color */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .quiz-button:hover {
                background-color: #148c7e; /* Darker minty green on hover */
            }
    </style>
</head>
<body>
    <div class="header">
        <h1>Welkom bij de Quiz pagina</h1>
    </div>

    <p>Selecteer een quiz om te beginnen:</p>

    <div class="quiz-box">
        <h2>Quiz 1: Afval scheiden</h2>
        <p>Dit is de eerste quiz</p>
        <button class="quiz-button" onclick="window.location.href='https://kahoot.it/solo/?quizId=fea4f0e2-05aa-45a5-a8b4-bdc573a36ad3'">Ga naar quiz</button>
    </div>

    <div class="quiz-box">
        <h2>Quiz 2: Afval scheiden</h2>
        <p>Dit is de tweede quiz</p>
        <button class="quiz-button" onclick="window.location.href='https://kahoot.it/solo/?quizId=c245aee2-68c4-47ba-87dc-dbc940646f49'">Ga naar quiz</button>
    </div>

    <div class="quiz-box">
        <h2>Quiz 3: Al dat Afval</h2>
        <p>Dit is het derde quiz</p>
        <button class="quiz-button" onclick="window.location.href='https://kahoot.it/solo/?quizId=bda3ef8d-36d1-4a24-9352-ce045e6538a4'">Ga naar quiz</button>
    </div>
</body>
</html>
