@model AfvalScheiden.Models.Garbage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Garbage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeNeeded" class="control-label"></label>
                <input asp-for="TimeNeeded" class="form-control" />
                <span asp-validation-for="TimeNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GarbageCategoryId" class="control-label"></label>
                <select asp-for="GarbageCategoryId" class ="form-control" asp-items="ViewBag.GarbageCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LogbookId" class="control-label"></label>
                <select asp-for="LogbookId" class ="form-control" asp-items="ViewBag.LogbookId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
